@import 'common/var.scss';

.pw-input {
    font-size: $--font-size-medium;
    border: none;
    outline: none;
    &::-webkit-input-placeholder {
        padding-left: 4px;
        color: $--color-text-placeholder;
    }
}